.productCard
    display: grid
    grid-template-columns: 2fr 1fr 1fr
    gap: $gutter*2

    .gridElement
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        flex-wrap: wrap
        gap: $gutter*2
        // text-align: justify
