.filters {
    display: flex;
    justify-content: center;
    padding: calc(var(--gutter) * 4); /* Replace $gutter with the equivalent CSS variable or value */
    gap: calc(var(--gutter) * 8);
}

.selector {
    width: 200px;
    align-self: center;
}

.selector select {
    width: 100%;
    height: 40px;
    padding: var(--gutter); /* Replace $gutter with the equivalent CSS variable or value */
}

.searchBoxForm {
    display: flex;
    justify-content: center;
    gap: var(--gutter); /* Replace $gutter with the equivalent CSS variable or value */
    padding: var(--gutter);
    height: 50px;
    width: 350px;
}

.searchBoxForm input.searchInput {
    padding: var(--gutter); /* Replace $gutter with the equivalent CSS variable or value */
    height: 100%;
    width: 70%;
}

.searchBoxForm button {
    padding: var(--gutter); /* Replace $gutter with the equivalent CSS variable or value */
}

@media (max-width: var(--mobile)) { /* Replace $mobile with the equivalent CSS variable or value */
    .filters {
        flex-direction: column;
        align-items: center;
    }

    .selector {
        width: 80%;
        max-width: 305px;
    }

    .searchBoxForm {
        padding: 0;
        width: 100%;
        max-width: 370px;
    }

    .searchBoxForm .searchInput {
        width: 65%;
    }
}
