:root {
    --gutter: 5px;

    --white: #f8f8f8;
    --black: #1A1B1C;
    --darker: #0f0f0f;
    --color-accent: #61CE70;
    --secondary: #7A7A7A;

    --mobile: 480px;
    --tablet: 768px;
    --small-desktop: 1024px;
    --large-desktop: 1200px;
}
